<h2>Session Information Lost</h2>

<p>There was a problem retrieving your user information. Some web browsers
  are starting to take measures that cause this to happen unexpectedly. You can
  try clicking the following button to launch a popup that should fix the
  problem if it's a browser issue.</p>
<p>
  <button id="session_fixer" class='btn btn-primary'>Open Session Fixer in a New Window</button>
</p>

<script type="text/javascript" charset="utf-8">
    $(document).on('click', '#session_fixer', function(event) {
        window.open("/session_fix", "Session Fixer", "width=400,height=300,resizable=no,menubar=no,location=no,toolbar=no");
    });
</script>